name: Epicer12 Isometric Art Only
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg
          
          # --- PURE ART SETTINGS ---
          base: "" 
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # --- CLEANUP ---
          config_order: isocalendar
          template: classic
          
          # --- FORCE PUSH SETTINGS ---
          committer_token: ${{ secrets.GITHUB_TOKEN }} # Use the built-in token to push
